@import "tailwindcss";
body{
    font-family: DM Sans, sans-serif;
    background-color: rgb(255,255,255);
}

/* HIDE SCROLLBAR */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes loadingBar {
  0% { left: -100%; width: 40%; }
  50% { width: 60%; }
  100% { left: 100%; width: 40%; }
}

.animate-loading-bar {
  animation: loadingBar 2s infinite ease-in-out;
}

