@import "tailwindcss";
body{
    font-family: DM Sans, sans-serif;
    background-color: rgb(255,255,255);
}

/* HIDE SCROLLBAR */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
